<section class="content">

      <!-- Default box -->
      <div class="card">
          <div class="col-5 text-center d-flex align-items-center justify-content-center">
          </div>
          <div class="col-7">
            <div class="form-group">
              <label for="inputName">Talep Başlığı</label>
              <input type="text" id="inputName" class="form-control" #txtTitle>
            </div>
            <div class="form-group">
                  <button  type="submit" class="btn btn-primary btn-block" (click)="create(txtTitle)">Talep Oluştur</button>
            </div>
          </div>
        </div>

    </section>