body{
      background-image: url(../../../assets/images/login-image.jpg);
      
    }

.valdiator-div{
  background-color: #ffe6e6; padding: 10px; border: 1px solid #ff0000; color: #ff0000;margin-top: 20px;
  }