<head>
  
</head>
<body class="hold-transition login-page">
  
    
      <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          
          <div class="card-header text-center">
            <a href="../../index2.html" class="h1">Giriş Yap</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">İşlem Yapmak için oturum açın</p>
      
            <form >
              <div class="input-group mb-3">
                <input type="email" #txtUsernameOrEmail class="form-control" placeholder="Kullanıcı Adı & Email" id="username">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input #txtPassword type="password" class="form-control" placeholder="Şifre" id="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              
                  <button type="submit" class="btn btn-primary btn-block" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>
                
            </form>
      
      
            <!-- /.social-auth-links -->
      
            <p class="mb-1">
              <a routerLink="/callcenter/register">Kayıt Ol</a>
            </p>
            <p class="mb-1">
              <a >Şifremi Unuttum</a>
              
            </p>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
</body>